<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.newspaper {
  column-count: 5;
  }
</style>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body style="background-color:gray">
<div  style="column-gap: 60px; background-color:gray; color:white;">

    <h1 style="text-align:center;color:midnightblue; font-size:50px" ><u> Welcome to Home Page </u><br></h1>
    <h1 style="text-align:center;color:midnightblue; font-size:20px" >You have successfully logged in.. </h1>
    <h1 style="text-align:center;color:white; font-size:40px" > Welcome: {{result2}} {{result3}} </h1>
    <h1 style="text-align:center;color:white; font-size:30px" > Your Email Id : {{result}} </h1>
    <h1 style="text-align:center;color:white; font-size:30px" > Your Password : {{result1}} <br><br></h1>

    <form>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button  style="text-align:center;color:midnightblue;font-size:30px; margin:40px;background-color: gray; border: none;"> <a href="/add_product">Add Product</a></button>
            <button style="text-align:center;color:midnightblue;font-size:30px; margin:40px;background-color: gray;border: none;"> <a href="/search_product">Search Product</a></button>
            <button style="text-align:center;color:midnightblue;font-size:30px; margin:40px;background-color: gray;border: none;"> <a href="/product_final_list">Product List</a></button>
            <button style="text-align:center;color:midnightblue;font-size:30px; margin:40px;background-color: gray;border: none;"> <a href="/delete_product">Delete Product</a></button>
            <button style="text-align:center;color:midnightblue;font-size:30px; margin:40px;background-color: gray;border: none;"> <a href="/update_product">Update Product</a></button>
        </div>
        <h3 style="text-align:right;color:midnightblue; font-size:40px"><a href="/logout">Logout</a></h3>
    </form>

</div>
</body>
</html>