<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body style="background-color:grey">

    <h1 style="text-align:center;color:midnightblue; font-size:50px" > <u>Login Page</u> <br><br></h1>
    <h2 style="text-align:center;color:red;font-size:30px">{{result}}</h2>
    <h2 style="text-align:center;color:white">{{result2}} {{result3}} {{result1}}</h2>


    <form action ="/login_page" method="post">
<!--    <h1 style="text-align:center;color:green; font-size:30px" > You have successfully Logout in.. {{result4}}  </h1>-->

      <h1 style="text-align:center;color:midnightblue;font-size:30px"> Email Id: <input style="border:2px solid midnightblue;" type="text" name = "emailid"><br><br></h1>
      <h1 style="text-align:center;color:midnightblue;font-size:30px"> Password: <input style="border:2px solid midnightblue;" type="password" name = "password"><br><br></h1>

      <b> <h1 style="text-align:center;font-size:30px"><input type="Submit" style="font-size:30px; background-color:AliceBlue; color: midnightblue; width:140px;height:40px;"></h1></b>
      <p style="text-align:center;color:midnightblue;font-size:20px">Not a member? <a href="/user/registration">Register Here</a></p>

    </form>



</body>
</html>