<!DOCTYPE html>
<html lang="en">
<head>
      <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid midnightblue;
  text-align: left;
  padding: 10px;

}

tr:nth-child(even) {
  background-color: grey;
}
</style>
<style>
.newspaper {
  column-count: 2;

}
</style>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body style="background-color:grey">
<h1 style="text-align:center;color:midnightblue; font-size:50px" ><u>Search Product</u><br></br></h1>

<form >
    <h1 style="text-align:center;color:midnightblue;font-size:40px;"><a style= "color:white" href="/search_product_id">Search the Product by Id </a></h1>
    <h1 style="text-align:center;color:midnightblue;"> Or </h1>
    <h1 style="text-align:center;color:midnightblue;font-size:40px;"><a style= "color:white" href="/search_product_name">Search the Product by Name </a></h1>
</form>


<h3 style="text-align:right;color:midnightblue; font-size:30px"><a href="/home_page">Back</a></h3>
<h3 style="text-align:right;color:midnightblue; font-size:30px"><a href="/logout">Logout</a></h3>


</body>
</html>